@model List<OfertasModel>

<div class="card card-default">
    <div class="card-header">
        <h2>Ofertas</h2>
    </div>

    <div class="card-body">

        <div style="margin:10px; text-align:right">
            <a class="btn btn-outline-primary" href="@Url.Action("RegistrarOfertas","Ofertas")"><i class="fa fa-plus"></i>Agregar</a>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Horario</th>
                    <th scope="col">Salario</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Nombre</td>
                        <td>@item.Descripcion</td>
                        <td>@item.Cantidad</td>
                        <td>@item.Horario</td>
                        <td>@item.Salario</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>