@model List<OfertasModel>

<div class="card card-default">
    <div class="card-header">
        <h2>Ofertas Aplicadas</h2>
    </div>

    <div class="card-body">

        @if (@ViewBag.Msj != null)
        {
            <div class="alert alert-default text-center" role="alert">
                @ViewBag.Msj
            </div>
        }

        <table id="example" class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Plazas</th>
                    <th scope="col">Horario</th>
                    <th scope="col">Salario</th>
                    <th scope="col">Estado</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.IdOferta</td>
                        <td>@item.Nombre</td>
                        <td>@item.Cantidad</td>
                        <td>@item.Horario</td>
                        <td>@item.Salario</td>
                        <td>@item.EstadoDescripcion</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

<script src="~/js/jquery.min.js"></script>
<script>

    $(document).ready(function() {
        var table = new DataTable('#example', {
            language: {
                url: 'https://cdn.datatables.net/plug-ins/2.2.2/i18n/es-ES.json',
            },
            columnDefs: [{
              targets: '_all', className: 'dt-left'
            }],
        });
    });

</script>